$color-black: #272727;
$color-white: #FFFFFF;
$color-light-grey: #EEEEEE;
$color-dark-grey: #A0A0A0;
$color-link: #1A0DAB;
$color-code: #00FF00;

$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";

$br: 800px;
